/*copyright Yogev Heskia Yogev911@gmail.com */
*{
    margin:0;
    padding:0;
}
nav,header,footer,main,aside,section,article,body,label{
    display:block;
}
body {
    background-color: lightgray;
    foint-size: 5vp;

}
@media only screen and (max-width: 480px) {
    article{
        color: red;
    }
}

@media only screen and (max-width: 769px) and (min-width: 481px) {
    article{
        color: red;
    }
}



/*EOF*/