/*copyright Yogev Heskia Yogev911@gmail.com */
*{
	margin:0;
	padding:0;
}
nav,header,footer,main,aside,section,article,body,label{
	display:block;
}
body{
	background-color: lightgray;
}
#wrapper{
	padding-top: 50px;
	width: 300px;
	background-color:darkgray;
	margin: 0px auto;

}
p{
	font-family: Arial;
	font-size: 12px;
}


/*EOF*/