/*copyright Yogev Heskia Yogev911@gmail.com */
*{
	margin:0;
	padding:0;
}
nav,header,footer,main,aside,section,article,body,label{
	display:block;
}

label{
	font-family: Arial;
	font-size: large;
}
/*EOF*/